#Vamos relembrar alguns conceitos sobre funções

Uma função é um objeto utilizado para **fazer determinadas ações**.

<br>

Podemos pensar como uma máquina que quando inserimos argumentos nos seus parâmetros faz algo e pode ou não retornar algo

In [ ]:
def nome_da_funcao(parametro1="argumento"):
  instrucoes = str(parametro1) + ". instrucao aplicada!"
  saida = "saida: " + instrucoes

  return saida

nome_da_funcao("meu argumento")

'saida: meu argumento. instrucao aplicada!'

O que fizemos acima é:

- usamos "def" para deixar claro para o Python que estamos **definindo** uma função;
- Depois, demos um **nome** para nossa função;
- Em parênteses, determinamos quais serão os **parâmetros** que quando a função for utilizada será "preenchida" pelos argumentos -- esses são os inputs, e em python, esses elementos podem ser opcionais!
- Depois, realizamos uma série de instruções. Nesse caso, concatenamos dois textos.
- Ao fim, dizemos o que a função irá **retornar** -- esses são os outputs, e em Python esse elemento pode ser opcional!

Importante lembrar que as variáveis criadas dentro da função como padrão ficarão dentro do escopo da função. Isto é, não serão salvas se você chama-las fora

# Funções com funções

Uma função, assim como outras "informações" que aprendemos, também consegue ser atribuída a uma variável.

```python
var1 = 2
var2 = sum
```

As funções também conseguem ser passadas como argumento para outras funções. Essa combinação entre funções pode ser útil quando queremos executar uma mesma sequência de passos

vamos a um exemplo

In [ ]:
def minha_funcao(n):
  return n

minha_funcao(5)

5

In [ ]:
minha_funcao()

TypeError: minha_funcao() missing 1 required positional argument: 'n'

In [ ]:
minha_funcao

In [ ]:
type(minha_funcao)

function

In [ ]:
def minha_outra_funcao(numero, funcao):
  return funcao(numero) * numero # elevando ao quadrado / valor quadrático

In [ ]:
# return minha_funcao(2) * 2 == 4

minha_outra_funcao(2,minha_funcao)

4

In [ ]:
minha_outra_funcao(3,minha_funcao)

9

vamos a outro exemplo

In [ ]:
def soma(a,b):
  return a + b

def subtracao(a,b):
  return a - b

def multiplicacao(a,b):
  return a * b

def divisao(a,b):
  return a / b

def operador_para_funcao(operador):
  if operador == '+':
    return soma
  elif operador == '-':
    return subtracao
  elif operador == "*":
    return multiplicacao
  else:
    return divisao

In [ ]:
operador_para_funcao('+'(2,5))

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-12-a35314b6a122>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  operador_para_funcao('+'(2,5))

TypeError: 'str' object is not callable

In [ ]:
operador_para_funcao('+')(5, 7)

12

In [ ]:
operador_para_funcao('*')

In [ ]:
multiplicacao

In [ ]:
multiplicacao(5,2)

10

Como vimos:
- As funções se passadas sem parênteses () podem ser utilizadas dentro de outras funções.

- Conseguimos passar uma função como argumento e utiliza-la dentro da função

## função filter()

documentação: https://docs.python.org/3/library/functions.html#filter

In [ ]:
# na função filter preciso que retorne um valor booleano. para os casos de booleano True o filter
# irá considerar dentro do resultado

def is_impar(n):
  if n % 2 != 0:
    return True
  else:
    return False

is_impar(3)

True

In [ ]:
is_impar(4)

False

In [ ]:
lista = [1,2,494,28485,29384,29385,29384,283854,28385]
lista = [1,2,3,4,5,6,7,8,9]

In [ ]:
# é como se fosse o misto do for com if
tuple(filter(is_impar, lista))

(1, 3, 5, 7, 9)

In [ ]:
tuple(filter(is_impar, lista))
list(filter(is_impar, lista))

[1, 3, 5, 7, 9]

In [ ]:
for elemento in filter(is_impar, lista):
  print(elemento)

1
3
5
7
9

## função map()

links úteis:
- https://docs.python.org/3/library/functions.html#map
- https://www.geeksforgeeks.org/python-map-function/

In [ ]:
def quadrado(n):
  return n ** 2

lista = [1,2,3,4]

list(map(quadrado,lista))

[1, 4, 9, 16]

In [ ]:
def potencia(base,expoente):
  return base ** expoente

lista = [1,2,3,4]
lista2 = [2,2,3,3]

tuple(map(potencia, lista,lista2))

(1, 4, 27, 64)

In [ ]:
# diferenças e igualdades entre filter e map:

## função reduce()

documentação: https://docs.python.org/3/library/functools.html

visualizando o comportamento da função reduce:
https://note.pcwu.net/assets/images/2017-02-06-python-reduce-function-81b7a.png

vamos fazer algo um pouco diferente dessa vez, vamos importar (import) algo de uma biblioteca biblioteca, mais especificamente a função reduce dessa biblioteca.

In [ ]:
reduce()

In [ ]:
from functools import reduce

In [ ]:
def subtracao(x,y):
  return x - y

reduce(subtracao,[3,2,1])

0

In [ ]:
# reducie precisa que a função passada tenha 2 argumentos
def repete(x):
  return x

reduce(repete,[3,2,1])

TypeError: repete() takes 1 positional argument but 2 were given

## Destaques aprendizado map/reduce/filter:

- mais um kit de ferramentas que pode ser utilizado passando uma função dentro de outra
- é mais 'sucinto' de escrever do que um for loop
- pode ser bastante performático

# Parâmetros de funções

Quando estudamos funções, aprendemos que elas podem fornecer uma resposta (return) e  podem ter parâmetros.

- Também vimos que a função poderia retornar exatamente um resultado.

- Para os parâmetros: Vimos que o número de argumentos a serem passados era fixo para cada função. Um argumento para cada parâmetro que declaramos na definição da função.


Em alguns casos, mais flexibilidade seria útil.


## Funções com retorno múltiplo
Vejamos um caso simples: uma função que responde os valores máximo e mínimo de uma coleção.

In [ ]:
def min_max(colecao):
  print(min(colecao))
  print(max(colecao))

min_max([1,2])

1
2

Você pode retornar os valores separados por vírgula.
Vamos imprimir o resultado e verificar o que acontece.

In [ ]:
def min_max(colecao):
  menor = min(colecao)
  maior = max(colecao)

  return menor,maior # isso aqui nada mais é do que uma tupla

min_max([1,2,3,4])

(1, 4)

Por que retornar uma tupla?

In [ ]:
# imutável
# acessar/slicing

In [ ]:
resposta = min_max([1,2,3,4]) # resposta == (1,4)

menor = resposta[0]
maior = resposta[1]

menor

1

como podemos ver, conseguimos atribuir uma variável para o menor e o maior valor. mas será que não existe uma forma melhor de fazer isso?

In [ ]:
menor, maior = min_max([1,2,3,4]) # menor,maior = (1,4) . irá realizar o desempacotamento
menor
maior

4

Por que é importante lembrarmos/sabermos isso?

In [ ]:
import sklearn
X_train, X_test, y_train, y_test = train_test_split(X,y,...)

Vamos resumir então.
- Quando utilizamos valores separados por vírgula em Python, os valores são agrupados em uma tupla, mesmo que não estejamos utilizando parênteses.
- Essa informação é relevante porque podemos separar a tupla em varias variáveis usando a mesma sintaxe:

No exemplo acima é mais perceptível a sensação de que a função retornou 2 valores e o programa recebeu esses 2 valores individualmente. Por dentro, tupla. Por fora, retorno múltiplo.

## Parâmetros com valores padrão

Uma primeira forma de trabalhar com a ideia de parâmetros opcionais é atribuir valores padrão para nossos parâmetros. Quando fazemos isso, quando a função for chamada, o parâmetro pode **ou** não ser passado. Caso ele não seja passado, é adotado o valor padrão.

Devemos primeiro colocar os parâmetros "comuns" (conhecidos como _argumentos posicionais_) para depois colocar os argumentos com valor padrão. Imagine, por exemplo, uma função que padroniza _strings_ jogando todo seu conteúdo para upper ou lower. Podemos implementá-la da seguinte maneira:

In [ ]:
def padroniza_string(texto, lower=True):
    if lower:
        return texto.lower()
    else:
        return texto.upper()

print(padroniza_string('Sem passar o SEGUNDO argumento'))
print(padroniza_string('Passando SEGUNDO argumento True', lower=True))
print(padroniza_string('Passando SEGUNDO argumento False', lower=False))

sem passar o segundo argumento
passando segundo argumento true
PASSANDO SEGUNDO ARGUMENTO FALSE

## Funções com quantidade variável de parâmetros
Talvez você já tenha notado que o _print_ é uma função. Se não notou, esse é um bom momento para pensar a respeito. Nós sempre usamos com parênteses, nós passamos informações dentro dos parênteses (os dados a serem impressos) e ele faz um monte de coisa automaticamente: converte todos os dados passados para _string_, contatena todas as _strings_ com um espaço entre elas e as escreve na tela.

Algo que o _print_ tem que as nossas funções não tinham é a capacidade de receber uma quantidade variável de parâmetros. Nós podemos passar 0 dados (e, neste caso, ele apenas pulará uma linha), 1 dado, 2 dados, 3 dados... Quantos dados quisermos, separados por vírgula, e ele funcionará para todos esses casos. Se até o momento temos que declarar todos os parâmetros, como fazer para que múltiplos dados possam ser passados?


### Agrupando parâmetros
A solução é utilizar o operador **\***  que, neste caso, não será uma multiplicação.

- Ao colocarmos o **\*** ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla.
 - Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser (inclusive nenhum se quiser), e o Python automaticamente criará uma tupla com eles.

In [ ]:
tupla_exemplo = (1,2,3,4)

In [ ]:
print(tupla_exemplo)

(1, 2, 3, 4)

In [ ]:
print(*tupla_exemplo) # desempacotando
print(tupla_exemplo[0],tupla_exemplo[1],tupla_exemplo[2],tupla_exemplo[3]) # isso é a mesma coisa da linha acima

1 2 3 4
1 2 3 4

In [ ]:
# sempre quando verem * seguido de uma variável, estará acontecendo um empacotamento ou desempacotamento
# a depender do caso

In [ ]:
lista = [1,2,3,4,5]

lista2 = [*lista]

lista2

[1, 2, 3, 4, 5]

O operador * e a atribuição de múltiplas variáveis

In [ ]:
lista = [1,2,3,4,5]
a,b,*c = lista
print(a,b,c)

1 2 [3, 4, 5]

O que aconteceu no código que executamos acima?

<br> <br> <br> <br> <br>

Agora que aprendemos esses conceitos, vamos criar uma função que tem comportamento de receber argumentos similar ao do _print()_

vamos criar uma função de somatório que pode receber uma quantidade arbitrária de números (argumentos).

In [ ]:
# função com *args
def somatorio(*numeros):
  print(numeros)
  print(type(numeros))
  soma = 0
  for n in numeros:
    soma = soma + n
  return soma



somatorio(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

In [ ]:
somatorio([1,2,3,4,5])

([1, 2, 3, 4, 5],)
<class 'tuple'>

### Expandindo uma coleção
O exemplo acima funciona muito bem quando o usuário da função possui vários dados avulsos, pois ele os agrupa em uma coleção. Mas o que acontece quando os dados já estão agrupados?

In [ ]:
# dado a forma que construímos essa função, não conseguimos passar uma lista como argumento
# para a minha função somatorio
somatorio([1,2,3,4,5,6])

([1, 2, 3, 4, 5, 6],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

Note que o programa dará erro, pois como os _print_ dentro da função ilustram, foi criada uma tupla, e na primeira posição da tupla foi armazenada a lista. Isso não funciona com a lógica que projetamos.

Para casos que quisermos utilizar dessa maneira, utilizaremos o operador **\*** na chamada da função também.

- Na definição da função, o operador **\*** indica que devemos agrupar itens (argumentos) avulsos em uma coleção.

- Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos.

In [ ]:
somatorio(*[1,2,3,4,5,6])

somatorio(1,2,3,4,5,6) # é a mesma coisa que isso aqui

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

No programa acima, a lista é expandida em 6 valores avulsos, e em seguida a função agrupa os 6 itens em uma tupla chamada "numeros".

In [ ]:
somatorio(*[1,2,3,4,5,6])

somatorio(1,2,3,4,5,6) # é a mesma coisa que isso aqui

E vale mencionar/reforçar também que os parâmetros com * terão seus argumentos opcionais, podendo ou não serem preenchidos

vamos criar uma função de multiplicação como exemplo

In [ ]:
print()

In [ ]:
def multiplicador(*numeros):
  if numeros: # checo se é uma lista não vazia
    total = 1
    for n in numeros:
      total = n * total
    return total
  else:
    return "sem resultados"

multiplicador(1,2,3)

6

In [ ]:
multiplicador() # podemos executar uma função com parâmetro *args sem passar nenhum argumento para ela

'sem resultados'

## Outros parâmetros opcionais
Outra possibilidade são funções com parâmetros opcionais. Note que isso é diferente de termos quantidade variável de argumentos para um mesmo parâmetro.

No caso da quantidade variável de argumentos para um mesmo parâmetro, normalmente são diversos argumentos com a mesma utilidade (números a serem somados, valores a serem exibidos etc).


Já estudamos uma forma de parâmetros opcionais utilizando valores padrão.

Mas para funções com uma **grande** quantidade de parâmetros e/ou de variação na utilização do parâmetros opcionais, existe outra forma utilizando dicionários, apelidada como ```**kwargs```.

agenda dia 19/janeiro
- funções **kwargs
- exercícios
- correção
- arquivos
- exercícios (provavelmente próxima aula)
- introdução ao projeto deste módulo


### Criando **kwargs
Para criar parâmetros opcionais, usaremos **\*\***, e os parâmetros passados serão agrupados em um dicionário: o nome do parâmetro será a chave do dicionário, e o valor será... O valor desse dicionário.

In [ ]:
# **kwargs  == Key word arguments
# dicionario chave:valor

def teste(**parametro):
  print(parametro)
  print(type(parametro))

teste(nome="theo", profissao="professor" )

{'nome': 'theo', 'profissao': 'professor'}
<class 'dict'>

In [ ]:
"nome" in  {"data_nascimento":"theo"}

False

In [ ]:
def cadastro(**usuario):
  print(usuario)
  if not ('nome' in usuario) and not('cpf' in usuario) and not('rg' in usuario):
    print("nenhum dado básico do usuário localizado!")
  else:
    print("informação básica do usuário encontrada")
    if 'nome' in usuario:
      print("nome cadastrado:", usuario['nome'])
    if 'cpf' in usuario:
      print("cpf cadastrado: ", usuario['cpf'])
    if 'rg' in usuario:
      print("rg cadastrado", usuario['rg'])

In [ ]:
cadastro(nome='joao', cpf= 123456789)

{'nome': 'joao', 'cpf': 123456789}
informação básica do usuário encontrada
nome cadastrado: joao
cpf cadastrado:  123456789

In [ ]:
cadastro(nome='joao')

{'nome': 'joao'}
informação básica do usuário encontrada
nome cadastrado: joao

In [ ]:
cadastro(cpf='joao')

{'cpf': 'joao'}
informação básica do usuário encontrada
cpf cadastrado:  joao

In [ ]:
cadastro(rg=1029384586)

{'rg': 1029384586}
informação básica do usuário encontrada
rg cadastrado 1029384586

<br> <br> <br> <br>

E se eu adicionar um argumento que eu não mapiei nas condicões da minha função?

In [ ]:
cadastro(nome='joao', nome_mae="maria")

{'nome': 'joao', 'nome_mae': 'maria'}
informação básica do usuário encontrada
nome cadastrado: joao

### Expandindo um dicionário

Analogamente ao caso dos argumentos múltiplos, é possível que o usuário da função já tenha os dados organizados em um dicionário. Neste caso, basta usar **\*\*** na chamada da função para expandir o dicionário em vários parâmetros opcionais.

In [ ]:
maria = {"nome":"maria", 'cpf':123456}
cadastro(maria)

TypeError: cadastro() takes 0 positional arguments but 1 was given

In [ ]:
maria = {"nome":"maria", 'cpf':123456}
cadastro(**maria)

{'nome': 'maria', 'cpf': 123456}
informação básica do usuário encontrada
nome cadastrado: maria
cpf cadastrado:  123456

## Como todos os parâmetros ficam ordenados dentro da criação da função?

In [ ]:
# posicionais obrigatórios
# opcionais
#  - default
#  - *args
#  - **kwargs

In [ ]:
def funcao_com_muitos_parametros(posicional_obrigatorio, params_padrao=True,*args_tupla, **kwargs_dicionario):
  return f"posicional obrigatórios: {posicional_obrigatorio}. params_padrao: {params_padrao}. args_tupla {args_tupla}. kwargs_dicionario {kwargs_dicionario}"

In [ ]:
var1 = funcao_com_muitos_parametros(1,2,3,4,5,6,6,7,8,texto="theo", numero=43)

In [ ]:
var1

"posicional obrigatórios: 1. params_padrao: 2. args_tupla (3, 4, 5, 6, 6, 7, 8). kwargs_dicionario {'texto': 'theo', 'numero': 43}"

In [ ]:
print(var1)

posicional obrigatórios: 1. params_padrao: 2. args_tupla (3, 4, 5, 6, 6, 7, 8). kwargs_dicionario {'texto': 'theo', 'numero': 43}

## Exercícios

Faça um código que faça a subtracao entre elementos de diferentes listas e eleve esse resultado ao quadrado .

exemplo:

<center>

|listas  | 0 | 1 | 2 |
--- | --- | --- | --- |
lista1| 3 | 5 | 15
lista2 | 4 | 4 | 10
diferença | -1 | 1 | 5
quadrado da diferença | 1 | 1 | 25

</center>

- sugestão: utilize a função map()

In [ ]:
def subtracao_quadrado(x, y):
    subtracao = x - y
    quadrado = subtracao ** 2
    return quadrado

lista1 = [3, 5, 15]
lista2 = [4, 4, 10]

list(map(subtracao_quadrado, lista1, lista2))

[1, 1, 25]

Escreva um código que recebe uma tupla ou lista e retorna os elementos que têm uma vogal

In [ ]:
def tres (*colecao):
    lista_de_elementos=[]

    for elemento in colecao:

        elemento2 = str(elemento).lower()

        if elemento2.count('a') !=0 or elemento2.count('e') !=0 or elemento2.count('i') !=0 or elemento2.count('o') !=0 or elemento2.count('u') !=0:
            lista_de_elementos.append(elemento)

    return lista_de_elementos

lista_ex = ["carro", "trem", "KNN", "EEG", "BCH"]

tres(*lista_ex)

Faça um código que retorne a multiplicacao de todos os elementos da lista

- sugestão: utilize a função reduce()

In [ ]:
from functools import reduce

def multiplicacao(x, y):
    return x * y

lista = [1, 2, 3, 4, 5]

reduce(multiplicacao, lista)

120

Faça uma função que sempre some 3 valores e retorne o total de sua soma

In [ ]:
def soma (lista:list):
  if len(lista) == 3:
    soma = sum(lista)
    return soma

  elif len(lista) < 3:
    print('A lista possui menos de 3 valores')

  else:
    print('A lista possui mais de 3 valores')

lista = [5, 5, 5]

resultado = soma(lista)

print(resultado)

15

Agora faça uma função que pode receber múltiplos argumentos e retorne o total de sua soma

In [ ]:
def soma_valores(*args):
  total = sum(args)
  return total

lista = (5, 5, 5)

resultado = soma_valores(*lista)

print(resultado)

15

Faça uma função que recebe uma quantidade arbitrária de variáveis de qualquer tipo e retorna uma string contendo todas as suas representações separadas por espaço

In [ ]:
def retorna_elementos(*args):
    string = ""
    for elemento in args:
        string = string + " " + str(elemento)

    return string

str1 = "cerveja"
lst1 = [1,2,3]
tp1 = ("hoje", "é", "sexta")
dct1 = {'teste':'valor teste'}

a = retorna_elementos(str1,*lst1,*tp1, dct1)
print(a)

 cerveja 1 2 3 hoje é sexta {'teste': 'valor teste'}

Modifique a função anterior para incluir um parâmetro opcional indicando o caractere de separação entre as variáveis. Seu valor padrão será 1 espaço em branco

In [ ]:
def retorna_elementos(*args):
    string = ""
    for elemento in args:
        string = string + " " + str(elemento)

    return string

str1 = "cerveja"
lst1 = [1,2,3]
tp1 = ("hoje", "é", "sexta")
dct1 = {'teste':'valor teste'}

a = retorna_elementos(str1,*lst1,*tp1, dct1)
print(a)

['teste', 'ola']

criar uma função que consiga registrar dados sobre animais.
- tenha um parâmetro obrigatorio para identificar o animal (ex: gato, cachorro, etc.)
- tenha um parâmetro país com padrão Brasil
- aceite através de múltiplos parâmetros características desse animal (ex:quantidade_asas, raca, etc)
- retornar um texto que contenha o valores que foram inputadas em animal, país e:
 - caso tenha alguma outra característica extra: também retorna no texto a quantidade de características (parâmetros) que foram registrados e seus nomes.
 - caso não tenha característica extra mencionar mencionar no texto de retorno

In [ ]:
def registro (tipo:str, pais='Brasil', *caracteristicas):
  if len(caracteristicas) == 0:
    return f'{tipo} do {pais}, com nehuma caracteristicas registrada'
  else:
    return f'{tipo} do {pais}, com {len(caracteristicas)} características, sendo elas {caracteristicas}'

resultado = registro('Cachorro','Brasil', 'Doodle', 'Grande', 'Fofinho')

print(resultado)

Cachorro do Brasil, com 3 características, sendo elas ('Doodle', 'Grande', 'Fofinho')

# Link úteis

https://docs.python.org/3/tutorial/controlflow.html#more-on-defining-functions

https://peps.python.org/pep-0008/

https://www.w3schools.com/python/ref_func_print.asp

https://www.datacamp.com/tutorial/functions-python-tutorial