O que vamos ver hoje (08/janeiro)
- introdução inicial
 - me apresentar
- conhecer um pouco mais sobre vocês e expectativas com o curso
- ementa de lógica de programação II
 - Dicionários e Tuplas
 - Funções (introdução, parâmetros default, args e kwargs)
 - Funções lambda/map/reduce/filter
 - List e dict e comprehension
 - Manipulação de arquivos
 - Tratamento de exceções
- overview lms.ada.tech
 - como funciona a chamada

---

- casos de dificuldade de entrar na aula
- relembrar primeira aula
- presença do Thiago Melo do time pedagógico


- como é a dinâmica da aula
 - teoria
 - prática
 - drive > google docs com conteúdo


- tuplas e dicionários

# Estrutura de Dados

Hoje aprenderemos novas maneiras de armazenar e esturar nossos dados.

##   Tuplas: O Que São e Por Que Usar  <a class="anchor" id="um"></a>
<br>


Tuplas podem ser pensadas como listas mas com algumas restrições:

- não podemos alterar uma tupla nem em ordem, nem conteúdo.

Por que deveriamos usa-las então? Velocidade e organização de código. Um programador ao ver uma tupla sabe que seu conteúdo não pode ser alterado indiscriminadamente, além disso, a capacidade de alteração numa lista exige algoritmos mais complexos e lentos, então trabalhar com tuplas nos permite maior desempenho.<br>

As tuplas são declaradas entre parênteses, possuem algumas funções nativas semelhantes as listas, como len() e type(), e também são consultadas (slicing) da mesma maneira com os colchetes. As tuplas também aceitam dados mistos dentro de sí.

In [ ]:
tupla = ("Manga", "Pera", True, 7, 0.54)
print(tupla[1])
print(len(tupla))
print(type(tupla))

Pera
5
<class 'tuple'>

Para alterarmos uma tupla, podemos, por exemplo, fazer um <i>cast</i> para listas, alterar a lista, e retornar para uma tupla.
</div>

In [ ]:
print(f"tupla antes de alterar: {tupla}")
lista_auxiliar = list(tupla) # estou criando uma variável do tipo lista baseado na minha tupla
print(lista_auxiliar)
lista_auxiliar.append("alteracao na tupla")
tupla = tuple(lista_auxiliar)

print(f"tupla depois de alterar: {tupla}")

tupla antes de alterar: ('Manga', 'Pera', True, 7, 0.54, 'alteracao na tupla')
['Manga', 'Pera', True, 7, 0.54, 'alteracao na tupla']
tupla depois de alterar: ('Manga', 'Pera', True, 7, 0.54, 'alteracao na tupla', 'alteracao na tupla')

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Tuplas podem ser desempacotadas, isso é, desmembrar seus valores para variaveis individuais

In [ ]:
a = 1
b = 2
c = 3

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
3,14

(3, 14)

In [ ]:
a,b,c = 1,2,3

(1, 2, 3)

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
c

3

In [ ]:
a

1

In [ ]:
b

[2, 3]

In [ ]:
c

4

Observação/lembrete:

Uma outra maneira de desempacotar utilizando <b>*</b>

In [ ]:
a,*b,c = 1,2,3,4

também podemos guardar essas variáveis em uma tupla

In [ ]:
(a,b,*c,d) = 1,2,3,4,5,6,3,4,5

(1,2,3,(1293,394),393) # você pode ter uma tupla dentro de outra tupla

c

[3, 4, 5, 6, 3, 4]

In [ ]:
a,*b,*c,d = 1,2,3,4,5,6,3,4,5

SyntaxError: multiple starred expressions in assignment (<ipython-input-45-c89bb8851118>, line 1)

In [ ]:
tupla_com_lista = (1,[1,34],294)
tupla_com_lista[1].append("novo valor")
tupla_com_lista

(1, [1, 34, 'novo valor'], 294)

---
<div align="justify">
&emsp; Tuplas podem ser percorridas em loop igualmente às listas, além disso podemos concatenar tuplas com o + e multiplicar elas por inteiros usando *.
</div>

In [ ]:
tupla_1 = ("morango", "pera","maçã")
for item in tupla_1:
  print(item)


tupla_2 = ("theo", 50)
tupla_3 = tupla_1 + tupla_2
print(f"tupla concatenada {tupla_3}")

print(tupla_3 * 2)

morango
pera
maçã
tupla concatenada ('morango', 'pera', 'maçã', 'theo', 50)
('morango', 'pera', 'maçã', 'theo', 50, 'morango', 'pera', 'maçã', 'theo', 50)

As tuplas também possuem os métodos .count() e .index() que, respectivamente, contam quantos dados iguais ao que passarmos a tupla possui, e em qual <i>index</i> está o primeiro dado igual ao que passamos.
</div>

In [ ]:
tupla_1.count("morango") # conta a quantidade de vezes que aparece morango como um elemento da tupla

tupla_3 = ('theo', 'theo', 'morango', 'theo')
print(tupla_3)
tupla_3.index("theo")

('theo', 'theo', 'morango', 'theo')

0

## Dicionários: Diferenças e similaridades para o seu xará mais conhecido

Dicionários também podem ser pensados analogamente a listas, mas não pensaremos mais no conceito de <i>index</i> e sim em palavras-chave. Assim como um dicionário real possui palavras e suas definições, um dicionário em Python também! Entretanto devemos nos atentar que um dicionário não pode ter duas definições para uma mesma palavra (mas pode ter uma definição única definida por uma lista!)
<br>

Dicionários são declarados entre chaves, e acessados com colchetes (usando as palavras-chave e não as <i>indexes</i>) ou com a função get() usando a palavra-chave como parâmetro. Além disso com a função keys() podemos listar todas as palavras-chave de um dado dicionário.

In [ ]:
nos dicionários de línguas sempre é palavra : significado
nos dicionários em python a estrutura sempre é chave : valor

In [ ]:
lista_pessoa = ["theo", 55, "tecnólogo", "rio de janeiro"]


lista_pessoa = ["theo", 55, 48, "tecnólogo", "rio de janeiro", "fortaleza"]

['theo', 55, 'tecnólogo', 'rio de janeiro']

In [ ]:
pessoa = {
    "nome":"theo",
    "idade": 55,
    "nota":48,
    "profissão":"tecnólogo",
    "cidade_nascimento": "rio de janeiro",
    "cidade atual": "fortaleza"
}
pessoa

{'nome': 'theo',
 'idade': 55,
 'nota': 48,
 'profissão': 'tecnólogo',
 'cidade_nascimento': 'rio de janeiro',
 'cidade atual': 'fortaleza'}

In [ ]:
pessoa = {"nome":"theo", "idade": 55, "profissão":"tecnólogo", "filhos": ["joao","maria","gilberto"]}

pessoa

{'nome': 'theo',
 'idade': 55,
 'profissão': 'tecnólogo',
 'filhos': ['joao', 'maria', 'gilberto']}

In [ ]:
pessoa = {"nome":"theo", "idade": 55, "profissão":"tecnólogo", "filhos": ["joao","maria","gilberto"]}

In [ ]:
dicionarios_de_dicionarios = {
 "usuario_1": {"nome" : "theo", "idade": 55, "profissão" : "tecnólogo", "filhos": ["joao","maria","gilberto"]},
 "usuario_2": pessoa,
 }





# {"nome":"theo", "idade": 55, "profissão":"tecnólogo", "filhos": ["joao","maria","gilberto"]}

In [ ]:
dicionarios_de_dicionarios

{'usuario_1': {'nome': 'theo',
  'idade': 55,
  'profissão': 'tecnólogo',
  'filhos': ['joao', 'maria', 'gilberto']},
 'usuario_2': {'nome': 'theo',
  'idade': 55,
  'profissão': 'tecnólogo',
  'filhos': ['joao', 'maria', 'gilberto']}}

vamos aplicar mais alguns métodos para extrair informações do meu dicionário

In [ ]:
pessoa.get('idade')

55

In [ ]:
pessoa['idade']

55

In [ ]:
pessoa

{'nome': 'Theo',
 'idade': 55,
 'profissão': 'tecnólogo',
 'filhos': ['joao', 'maria', 'gilberto']}

In [ ]:
pessoa.keys()

dict_keys(['nome', 'idade', 'profissão', 'filhos'])

In [ ]:
pessoa.values()

dict_values(['Theo', 55, 'tecnólogo', ['joao', 'maria', 'gilberto']])

In [ ]:
pessoa.items()

dict_items([('nome', 'Theo'), ('idade', 55), ('profissão', 'tecnólogo'), ('filhos', ['joao', 'maria', 'gilberto'])])

In [ ]:
list(pessoa.keys())

['nome', 'idade', 'profissão', 'filhos']

---
<div align="justify">
&emsp; Podemos adicionar itens de um dicionário usando <b>nomeDic["novaPalavraChave"] = valor</b>, podemos atualizar da mesma maneira mas usando uma palavra-chave já existente, ou mesmo usar o método update() com o parâmetro <b>{"palavraChave": novoValor}</b>. Já para apagar itens temos várias maneiras: podemos usar o método pop() com a palavra-chave a ser deletada como parâmetro, ou o método popitem() para deletar o último item, ou mesmo a <b>del dicionario["chaveParaDeletar"]</b>, por fim temos o método clear() que limpa o dicionário todo.<br>
</div>

In [ ]:
pessoa['filhos']

['joao', 'maria', 'gilberto']

In [ ]:
pessoa['nome'] = 'Theo'
pessoa

{'nome': 'Theo',
 'idade': 55,
 'profissão': 'tecnólogo',
 'filhos': ['joao', 'maria', 'gilberto']}

In [ ]:
pessoa = {'nome': 'Theo', 'idade': 55, 'profissao': 'tecnólogo', 'filhos': ['joao', 'maria', 'gilberto']}
print("dicionário inicialmente: ", pessoa, '/n')

pessoa['nacionalidade'] = "brasileiro"
pessoa['nome'] = 'pedro'

# atualizou informações e/ou adicionou novas informações
# ele não deletou/apagou informações que não foram passadas. ex: profissao, filhos e nome
pessoa.update({"idade": 35, "nacionalidade": "chileno", "cachorro": "billy"})

pessoa.pop("nome") # apagamos chave-valor passando como argumento a chave nome
print("dicionário sem a chave nome: ", pessoa)

del pessoa['profissao']

print("antes do pop item", pessoa)
pessoa.popitem()
print("pessoa depois do popitem", pessoa)




# print(pessoa)

dicionário inicialmente:  {'nome': 'Theo', 'idade': 55, 'profissao': 'tecnólogo', 'filhos': ['joao', 'maria', 'gilberto']} /n
dicionário sem a chave nome:  {'idade': 35, 'profissao': 'tecnólogo', 'filhos': ['joao', 'maria', 'gilberto'], 'nacionalidade': 'chileno', 'cachorro': 'billy'}
antes do pop item {'idade': 35, 'filhos': ['joao', 'maria', 'gilberto'], 'nacionalidade': 'chileno', 'cachorro': 'billy'}
pessoa depois do popitem {'idade': 35, 'filhos': ['joao', 'maria', 'gilberto'], 'nacionalidade': 'chileno'}

In [ ]:
pessoa['netos'] = pessoa.pop("filhos") # método pop retorna o valor ['joao', 'maria', 'gilberto']
pessoa

{'idade': 35,
 'nacionalidade': 'chileno',
 'netos': ['joao', 'maria', 'gilberto']}

In [ ]:
print(pessoa)
pessoa.pop("nacionalidade")

{'idade': 35, 'nacionalidade': 'chileno', 'netos': ['joao', 'maria', 'gilberto']}

'chileno'

In [ ]:
pessoa

{'idade': 35, 'netos': ['joao', 'maria', 'gilberto']}

In [ ]:
pessoa.popitem() # sempre apaga a última chave-valor do seu dicionário

('netos', ['joao', 'maria', 'gilberto'])

In [ ]:
pessoa

{'idade': 35}

---
<div align="justify">
&emsp; Dicionários podem ser usados em <i>loops</i> normalmente também. Existem alguns métodos que podem ser úteis de serem utilizados.<br>
</div>

In [ ]:
pessoa = {'nome': 'Theo', 'idade': 55, 'profissao': 'tecnólogo'}

In [ ]:
for chave in pessoa:
  print(chave)

type(chave)

nome
idade
profissao

str

In [ ]:
for valor in pessoa.values():
  print(valor)

Theo
55
tecnólogo

In [ ]:
for chave in pessoa:
  print(pessoa[chave]) # pessoa['nome']

Theo
55
tecnólogo

In [ ]:
a,b = 1,2,3
a
b

ValueError: too many values to unpack (expected 2)

In [ ]:
for chave,valor in ((1,2),(3,4),(5,6)):
  print(chave,valor)

1 2
3 4
5 6

In [ ]:
pessoa.items()

dict_items([('nome', 'Theo'), ('idade', 55), ('profissao', 'tecnólogo')])

In [ ]:
for chave,valor in pessoa.items():
  print(chave,valor)

nome Theo
idade 55
profissao tecnólogo

---
<div align="justify">
&emsp; Assim como listas podem armazenar listas, dicionários podem armazenar dicionários, formando dicionários de mais de uma dimensão. Veja o exemplo:<br>
</div>

In [ ]:
dicionario_de_dicionarios = {
 "filho1": {"nome":"gabriel" , "ano_nascimento":2004},
 "filho2": {"nome":"joana", "ano_nascimento":1999}
 }

In [ ]:
dicionario_de_dicionarios

{'filho1': {'nome': 'gabriel', 'ano_nascimento': 2004},
 'filho2': {'nome': 'joana', 'ano_nascimento': 1999}}

In [ ]:
{
    "id_01_mensagem": {"quem_enviou":"gabriel" , "data_envio":"2004-01-01","grupo":"python_2024"},
    "id_02_mensagem": {"quem_enviou":"gabriel" , "data_envio":"2004-01-01","grupo":"python_2024"},
}

---
<div align="justify">
&emsp; No contexto de dicionários o comando <b>in</b> é útil. Imagine que você quer adicionar valores em uma chave mas não sabe sequer se ela existe naquele contexto, como poderiamos fazer?<br>
</div>

In [ ]:
4 in [1,2,3,4]

True

In [ ]:
estudante = {
    "nome": "theo",
    "graduacao" : "medicina"
}

'theo' in estudante.values()

True

In [ ]:
'theo' in estudante['nome']

True

In [ ]:
"nome" in estudante

False

In [ ]:
"nome" in estudante.keys()

True

In [ ]:
materiais = ['jaleco', 'bisturi', 'estetoscópio']

if 'materiais' not in estudante:
  estudante['materiais'] = materiais


estudante

{'nome': 'theo',
 'graduacao': 'medicina',
 'materiais': ['jaleco', 'bisturi', 'estetoscópio']}

SyntaxError: 'break' outside loop (<ipython-input-33-053bf7bde60e>, line 2)

In [ ]:
notas_alunos = {
    "aluno_1" : [10,8,4,8,5], # notas do aluno
    "aluno_2" : [3,4,6,3,3,9],
    "aluno_3" : [9,10,7,8,10,10]
}

notas_alunos

{'aluno_1': [10, 8, 4, 8, 5],
 'aluno_2': [3, 4, 6, 3, 3, 9],
 'aluno_3': [9, 10, 7, 8, 10, 10]}

In [ ]:
10 in list(notas_alunos.values())[2]

True

In [ ]:
for aluno,lista_notas_do_aluno in notas_alunos.items():
  if 10 in lista_notas_do_aluno:
    print(f"nota encontrada. aluno {aluno} tirou 10. quantidade de notas 10: {lista_notas_do_aluno.count(10)}")

nota encontrada. aluno aluno_1 tirou 10. quantidade de notas 10: 1
nota encontrada. aluno aluno_3 tirou 10. quantidade de notas 10: 3

## exercícios tuplas, dicionários

1) Crie um dicionário para as seguintes relações:

<center>

. |  |
--- | --- |
banana| 3.0 |
cebola | 4.0 |
maçã | 5.7
abacaxi | 8.0


</center>

In [ ]:
hortifruti = {
    'banana': 3.0,
    'cebola': 4.0,
    'maça': 5.7,
    'abacaxi': 8.0
}
hortifruti

{'banana': 3.0, 'cebola': 4.0, 'maça': 5.7, 'abacaxi': 8.0}

2) Altere o valor da chave ‘Maçã’ no dicionário do exercício anterior para 8.6.

In [ ]:
hortifruti['maça'] = 8.6
hortifruti

{'banana': 3.0, 'cebola': 4.0, 'maça': 8.6, 'abacaxi': 8.0}

3) Faça um código que conte quantas vezes cada elemento aparece em uma lista. Essa função deverá guardar os dados em um dicionário no qual as chaves são os elementos inseridos e os valores são a contagem de quantas vezes esse elemento aparece. ex de output: {"banana":2, "maçã":1}

In [ ]:
lista = ["cavalo", "vaca", 'coelho', 'rato', "cobra", "gato", "gato", "gato", "cavalo", "cavalo"]

dicionario = {}

for chave in lista:
  if chave not in dicionario:
    dicionario[chave] = lista.count(chave)

dicionario

{'cavalo': 3, 'vaca': 1, 'coelho': 1, 'rato': 1, 'cobra': 1, 'gato': 3}

In [ ]:
lista = ["cavalo", "vaca", 'coelho', 'rato', "cobra", "gato", "gato", "gato", "cavalo", "cavalo"]
dicionario2 = {}
for chave in lista:
    if chave not in dicionario2:
        dicionario2[chave] = 1
    else:
      dicionario2[chave] += 1

dicionario2

{'cavalo': 3, 'vaca': 1, 'coelho': 1, 'rato': 1, 'cobra': 1, 'gato': 3}

4) Faça  um  código que  receba  múltiplos
números inteiros em seguida informe quantos são pares e quantos são ímpares.

In [ ]:
qtd = int(input('Informe o numero de numeros a serem recebidos: '))

lista_num = []

for i in qtd:
  numero = int(input(f'Informe o número{i}': ))
  lista_num.append(numero)

par = []
impar =[]
for item in lista:
    if item%2 ==0:
        par.append(item)
    else:
        impar.append(item)
print(f"o número de pares é {len(par)}\n o número de ímpares é {len(impar)}" )

o número de pares é 8
 o número de ímpares é 4

5) faça um código que recebe um elemento a ser encontrado no texto e substitui por outro elemento

- pode utilizar o .replace()

In [ ]:
texto = "Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório. Tem raízes numa peça de literatura clássica em Latim, de 45 AC, tornando-o com mais de 2000 anos. Richard McClintock, um professor de Latim no Colégio Hampden-Sydney, na Virgínia, procurou uma das palavras em Latim mais obscuras (consectetur) numa passagem Lorem Ipsum, e atravessando as cidades do mundo na literatura clássica, descobriu a sua origem."

novo = texto.replace("a","o")

print(novo)

Ao contrário do crenço populor, o Lorem Ipsum não é simplesmente texto oleotório. Tem roízes numo peço de literoturo clássico em Lotim, de 45 AC, tornondo-o com mois de 2000 onos. Richord McClintock, um professor de Lotim no Colégio Hompden-Sydney, no Virgínio, procurou umo dos polovros em Lotim mois obscuros (consectetur) numo possogem Lorem Ipsum, e otrovessondo os cidodes do mundo no literoturo clássico, descobriu o suo origem.

6) Faça  um  código  contador  de
palavras.  O  usuário  vai  inserir  um  texto  qualquer  e  o  programa  vai  contar  a
quantidade de cada palavra no texto, armazenando o resultado em um dicionário
e exibindo o resultado para o usuário.
- caso queira pode utilizar o .split() e .replace()

In [ ]:
texto = "Ao contrário da crença popular, o Lorem Ipsum não é simplesmente texto aleatório. Tem raízes numa peça de literatura clássica em Latim, de 45 AC, tornando-o com mais de 2000 anos. Richard McClintock, um professor de Latim no Colégio Hampden-Sydney, na Virgínia, procurou uma das palavras em Latim mais obscuras (consectetur) numa passagem Lorem Ipsum, e atravessando as cidades do mundo na literatura clássica, descobriu a sua origem."
texto_split = texto.split()
texto_split

dici = {}
for item in texto_split:
    if item not in dici:
        dici[item]=texto_split.count(item)
dici

7) Faça  um  código  para  criar  uma
agenda telefônica. O programa deve armazenar o nome e um ou mais telefones
do  contato.  Em  seguida,  o  usuário  vai  informar  o  nome  de  algum  contato
armazenado e o programa deve retornar os número(s) do contato
- caso queira pode utilizar o método .split()

In [ ]:
agenda = [{
      'nome': 'Guilherme',
      'telefone': {
          'tel1': '1199999-9999',
          'tel2': '1299999-9999'
      }
    },
    {'nome': 'Ana',
      'telefone': {
          'tel1': '1199999-9999',
          'tel2': '1299999-9999'
      }
    },
      {'nome': 'Maria',
      'telefone': {
          'tel1': '1199999-9999',
          'tel2': '1299999-9999'
      }
    }
]

pesquisa = input('Informe o nome: ')

for contato in agenda:
  if pesquisa == contato['nome']:
    print(contato)

  else:
    print('Não está na lista')

informe o nome: Guilherme
{'nome': 'Guilherme', 'telefone': {'tel1': '1199999-9999', 'tel2': '1299999-9999'}}