## funções lambda

A função lambda é mais uma maneira de criar as funções que já conhecemos.

A lambda function acaba sendo utilizada quando você procura criar uma função relativamente curta e/ou que será executada para uma ação específica e não há necessidade tão grande de reutiliza-la, principalmente quando comparada com a criação que já havíamos conhecido anteriormente utilizando o def

Além disso, as funções lambda são uma única expressão. E não é necessário escrever "return" para ela retornar o valor, pois ela já fará isso "automaticamente".


Por essas características mencionadas, não é "esperado" que funções desse tipo tenham bastante código. Outro fator que estimula a deixá-la sucinta é o fato de não aceitar doc strings

estrutura da lambda function:
```python
lambda parametros: expressao a ser retornada
```

como podemos perceber, as lambda functions não recebem um nome, diferente de quando chamamos da outra forma que conhecíamos

```python
def minha_funcao()
```

é por isso que as funções lambda também são chamadas de funções anônimas

In [ ]:
def minha_funcao(x):
  return x ** 2

In [ ]:
lambda x: x**2

In [ ]:
(lambda x: x**2)(3)

9

In [ ]:
# podem definir os mesmos parâmetros assim como nas funções
(lambda x, y, z: x + y + z)(1, 2, 3)

(lambda x, y, z=3: x + y + z)(1, 2)

(lambda x, y, z=3: x + y + z)(1, y=2)

(lambda *args: sum(args))(1,2,3)

(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

In [ ]:
dicionario_teste = {"one":1,"two":2,"three":3}
sum(dicionario_teste.values())

6

In [ ]:
# podemos utilizar a lambda function em algo que já haviamos visto, como map/filter/reduce

from functools import reduce

reduce(lambda x,y: x * y , [1,2,3,4])

24

In [ ]:
# podemos criar uma regra de ifs dentro da lambda
list(filter(lambda x: True if x % 2 == 0 else False, (1,2,3,4) ))

[2, 4]

In [ ]:
# podemos usar for em lambda
(lambda tupla: [num*2 for num in tupla])((1,2,3))

[2, 4, 6]

# Compreensão de listas/dict e expressões geradoras

Muito do que estudamos até o momento em Python pode ser reproduzido de maneira muito parecida em outras linguagens. Comandos como if, else, while e for, bem como conceitos como criar funções, passar parâmetros e retornar valores são comuns a uma infinidade de linguagens de programação.

Porém, um dos objetivos da linguagem Python é realizar o máximo possível de trabalho com a menor quantidade possível de código, resultando em um código mais limpo e com menos efeitos colaterais.

Com isso, o Python traz maneiras diferentes e mais enxutas de resolver problemas que já lidávamos bem utilizando outras técnicas.

As **compreensões de listas** e **expressões geradoras** são algumas dessas ferramentas.

## Compreensão de listas

Vamos considerar um probleminha simples: montar uma lista com os quadrados dos números de 1 até 10. Uma das maneiras de resolver problema seria:

In [ ]:
quadrados = []

for x in range(1, 11):
    quadrados.append(x**2)

print(quadrados)
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
10

Note que utilizamos 3 linhas de código para criar uma lista: uma para declarar uma lista, uma para percorrer alguns valores e uma para executar o cálculo e adicionar o resultado à lista.

Além disso, criamos uma variável extra, ```x```, que segue existindo em nosso programa mesmo após o loop, como você pode observar pelo segundo ```print``` do exemplo.

A **compreensão de listas** resolve todos esses problemas: iremos resumir em uma única linha a criação da nova lista já com todos os valores desejados, e sem variáveis *sobrando* após a execução:

In [ ]:
# racional para chegar na list comprehension
nova_lista = []

for x in range(1, 11):
  nova_lista += [x**2]  # [1,2,3,4] + [5] = [1,2,3,4,5]

nova_lista

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# toda compreensão de listas começa e termina com colchetes
quadrados_compreensao = [num**2 for num in range(1,11)]
print(quadrados_compreensao)

Note que a variável criada na versão extensa ainda existe. A variável ```num``` utilizada na compreensão, não:

In [ ]:
print('x:', x)
print('num:', num)

x: 10

NameError: name 'num' is not defined

Vale destacar que você não precisa necessariamente utilizar ```range``` em suas compreensões. Você pode utilizar **qualquer** tipo de iterável, como listas, tuplas, strings etc.

O exemplo abaixo monta uma lista contendo a metade do valor de cada elemento de uma outra lista:

In [ ]:
numeros = [1, 9, 4, 7, 6, 2]

[n/2 for n in numeros]

[0.5, 4.5, 2.0, 3.5, 3.0, 1.0]

### Condicionais em compreensões

Podemos utilizar compreensões em nossas condicionais. Imagine que no exemplo anterior não pudéssemos aceitar valores "quebrados", e para isso não iremos dividir números ímpares, apenas pares. Podemos colocar um ```if``` na expressão:

In [ ]:
# olha como a leitura é fluída para entender o que está acontecendo
numeros = [1, 9, 4, 7, 6, 2]
metades_pares = [n/2 for n in numeros if n % 2 == 0 ]
metades_pares

[2.0, 3.0, 1.0]

Podemos também utilizar ```else``` na expressão. Vejamos mais um exemplo e em seguida generalizaremos a sintaxe das compreensões de lista.

Considere que vamos, sim, aceitar números quebrados no exemplo das metades. Porém, não queremos utilizar o tipo float desnecessariamente. Portanto, faremos uma divisão **inteira** quando o número for par (para que o resultado seja int) e uma divisão **real** quando o número for ímpar (para que o resultado seja float). A expressão ficaria assim:

In [ ]:
numeros = [1, 9, 4, 7, 6, 2]

metades_tipo = [n//2 if n % 2 == 0 else n/2 for n in numeros]

print(metades_tipo)

[0.5, 4.5, 2, 3.5, 3, 1]

In [ ]:
6//2

3

In [ ]:
6/2

3.0

Note que quando colocamos o ```else```, a ordem da compreensão sofreu uma alteração. Quando era apenas ```if```, ele vinha após o ```for```. Com o ```else```, ambos vem antes.

Outro ponto importante é que no caso do ```else``` passamos a ter uma segunda expressão. Quando a condição do ```if``` é verdadeira, a compreensão irá executar a expressão original. Caso contrário, ele irá executar a expressão do ```else```.

Resumindo as combinações possíveis:

```py
lista = [expressao for item in colecao]

# equivale a:

for item in colecao:
    lista.append(expressao)
```
---

```py
[expressao for item in colecao if condicao]

# equivale a:

for item in colecao:
    if condicao:
        lista.append(expressao)
```

---

```py
[expressao if condicao else expressao_alternativa for item in colecao]

# equivale a:

for item in colecao:
    if condicao:
        lista.append(expressao)
    else:
        lista.append(expressao_alternativa)
```

### Aninhando compreensões

É possível aninhar compreensões de lista. Ao colocarmos mais de um ```for``` consecutivo, o primeiro for será considerado o mais externo, e o seguinte, mais interno. O exemplo abaixo mostra todas as combinações possíveis entre alguns nomes e sobrenomes:

In [ ]:
nomes = ['ana', 'bruno', 'maria']
sobrenomes = ['silva', 'oliveira']

[nome + " " + sobrenome for nome in nomes for sobrenome in sobrenomes]

['ana silva',
 'ana oliveira',
 'bruno silva',
 'bruno oliveira',
 'maria silva',
 'maria oliveira']

Inclusive podemos utilizar essa forma para trabalhar com matrizes. O exemplo abaixo lê pelo teclado a quantidade de vitórias, empates e derrotas para cada time em um grupo:

In [ ]:
times = ['Atlético Python', 'JavaScript United', 'C Seniors', 'Javeiros do Norte']
entradas = ['V', 'E', 'D']

tabela = [[int(input(f'Digite a quantidade de {tipo} do time {time}')) for tipo in entradas] for time in times]

print(tabela)

Digite a quantidade de V do time Atlético Python2
Digite a quantidade de E do time Atlético Python2
Digite a quantidade de D do time Atlético Python1
Digite a quantidade de V do time JavaScript United3
Digite a quantidade de E do time JavaScript United2
Digite a quantidade de D do time JavaScript United3
Digite a quantidade de V do time C Seniors2
Digite a quantidade de E do time C Seniors2
Digite a quantidade de D do time C Seniors1
Digite a quantidade de V do time Javeiros do Norte2
Digite a quantidade de E do time Javeiros do Norte3
Digite a quantidade de D do time Javeiros do Norte0
[[2, 2, 1], [3, 2, 3], [2, 2, 1], [2, 3, 0]]

### Compreensão de dicionários

Da mesma forma que utilizamos compreensão para listas, podemos utilizá-la para dicionários. A diferença é que precisamos, obrigatoriamente, passar um par chave-valor. O exemplo abaixo parte de uma lista de notas e uma lista de alunos e chega em um dicionário associando cada aluno a uma nota.

In [ ]:
alunos = ['ana', 'bruno', 'maria']
medias = [9,6.5,7]

# {} # uso chaves para criar dict comprehension
{alunos[index]:medias[index] for index in range(len(alunos))}

{'ana': 9, 'bruno': 6.5, 'maria': 7}

Também podemos chegar no mesmo resultado de uma forma mais *pythonica* usando o zip():

In [ ]:
alunos = ['ana', 'bruno', 'maria']
medias = [9,6.5,7]

zip_alunos = zip(alunos,medias) # ((ana,9),(bruno,6.5), (maria,7))

for item in zip_alunos:
  print(item)

('ana', 9)
('bruno', 6.5)
('maria', 7)

In [ ]:
alunos = ['ana', 'bruno', 'maria']
medias = [9,6.5,7]

zip_alunos = zip(alunos,medias) # ((ana,9),(bruno,6.5), (maria,7))

for aluno,media in zip_alunos:
  print(aluno, media)

ana 9
bruno 6.5
maria 7

In [ ]:
{aluno:media for aluno,media in zip(alunos,medias)}

{'ana': 9, 'bruno': 6.5, 'maria': 7}

O *zip* montou uma coleção onde cada elemento é uma tupla contendo um elemento da primeira lista associado ao elemento da mesma posição na segunda lista. Utilizando o nosso bom e velho *tuple unpacking*, podemos tirar proveito disso para percorrer duas listas em paralelo:

In [ ]:
for a, m in zip(alunos, medias):
    print(f'Aluno: {a}\t | Média:{m}')

Aluno: ana	 | Média:9
Aluno: bruno	 | Média:6.5
Aluno: maria	 | Média:7

## Expressões geradoras

Se você executar o código abaixo, não notará nenhum erro de execução. Ambas as linhas executam com sucesso:

In [ ]:
colchetes = [x for x in range(10)]

parenteses = (x for x in range(10))

Listas são representadas por colchetes, e fazemos compreensão de listas utilizando colchetes. Dicionários utilizam chaves (**{** e **}**), e utilizamos chaves para fazer compreensão de dicionários. A expressão entre parênteses só pode ser uma tupla, certo?

In [ ]:
print(colchetes)
print(type(colchetes))

print(parenteses)
print(type(parenteses))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
<generator object <genexpr> at 0x7853c1d39a10>
<class 'generator'>

Não existe compreensão de tuplas em Python. Quando colocamos uma expressão semelhante a uma compreensão de lista entre parênteses, estamos criando uma expressão geradora. Note que podemos iterar uma expressão geradora:

In [ ]:
gerador_quadrados = (x**2 for x in range(10))

for quadrado in gerador_quadrados:
    print(quadrado)

0
1
4
9
16
25
36
49
64
81

Também podemos convertê-lo para outras estruturas, como uma lista ou uma tupla:

In [ ]:
gerador_impares = (x for x in range(20) if x % 2 == 1)

lista_impares = list(gerador_impares)

print(lista_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Porém, não podemos utilizar nosso gerador uma segunda vez. Vamos tentar:

In [ ]:
gerador_quadrados = (x**2 for x in range(5))

for quadrado in gerador_quadrados:
  print(quadrado)

lista_quadrados = list(gerador_quadrados)
print(lista_quadrados)

0
1
4
9
16
[]

Caso tenha interesse em se aprofundar nos assuntos list-comprehension / expressões geradores e ver alguns experimentos envolvendo tamanho e performance de cada um, segue algumas boas referências:

>https://djangostars.com/blog/list-comprehensions-and-generator-expressions/
>
>https://towardsdatascience.com/comprehensions-and-generator-expression-in-python-2ae01c48fc50
>
>https://docs.python.org/3/howto/functional.html#generator-expressions-and-list-comprehensions

# Alguns exemplos de exercícios com gabarito caso queiram praticar

> Nos exercícios mais simples, que consistem apenas em gerar uma lista ou dicionário, sugiro utilizar compreensão de lista/dicionário. Em exercícios com instruções mais específicas, siga as instruções.

crie um código que recebe uma lista ou tupla, para cada elemento da coleção abrevie as primeiras 3 letras e retorna uma string única com todos seus valores minúsculos e separados por espaço

sugestão:
- utilize lambda
- utilize map

In [ ]:
" ".join(map(lambda x: str(x).lower()[0:3], ["abacaxi","pêra","uva"]))

Crie um código que recebe uma lista e retorna apenas números >=0

- sugestão: utilize filter() e lambda

In [ ]:
list(filter(lambda x: True if x >= 0 else False, [-1,-2,-3,0,1,2,4]))

Faça um código que recebe uma lista de números e retorna uma lista contendo os cubos dos números maiores ou iguais a zero e o quadrado dos números negativos.

In [ ]:
# sem list comprehension
lista_numeros = [1,-2,3,6]
numeros_alterados = []
for numero in lista_numeros:
  if numero >= 0:
    numeros_alterados.append(numero **3)
  else:
    numeros_alterados.append(numero **2)

print(numeros_alterados)

In [ ]:
# com list comprehension
lista_numeros = [1,-2,3,6]
[numero**3 if numero>= 0 else numero**2 for numero in lista_numeros]

# muitos links úteis de despedida 🙂


lambda:


https://www.programiz.com/python-programming/anonymous-function

https://realpython.com/python-lambda/

https://towardsdatascience.com/lambda-functions-with-practical-examples-in-python-45934f3653a8

<br>

list comprehension / generator expression / function generators:

https://pythonguides.com/python-list-comprehension-using-if-else/

https://stackoverflow.com/questions/15248272/python-list-comprehension-with-multiple-ifs

https://www.datacamp.com/tutorial/python-list-comprehension

https://towardsdatascience.com/5-wrong-use-cases-of-python-list-comprehensions-e8455fb75692

https://holycoders.com/python-list-comprehension/

https://realpython.com/introduction-to-python-generators/

<br>


Zen of Python:
https://www.python.org/doc/humor/#the-zen-of-python

# bônus: para os curiosos. outros exemplos mais complexos de list comprehensions

In [ ]:
# outros exemplos: usando múltiplos if-else
["10 maior" if  10>5 else "igual" if 10 == 5 else "5 maior"]

['10 maior']

In [ ]:
# outros exemplos: usando múltiplos if-else e for
[x if x > y else "igual" if x == y else y for x,y in [[1,2], [1,1], [3,1]]]

[2, 'igual', 3]

In [ ]:
# outros exemplos: for e múltiplos ifs
[n for n in range(1,11) if n % 2 == 0 if n > 3]
[n for n in range(1,11) if n % 2 == 0 and n > 3]

[4, 6, 8, 10]

In [ ]:
# outros exemplos: for e múltiplos "ifs"(usando and) com else
[n if n % 2 == 0 and n > 3 else "não par e/ou <= 3" for n in range(1,11) ]

['não par e/ou <= 3',
 'não par e/ou <= 3',
 'não par e/ou <= 3',
 4,
 'não par e/ou <= 3',
 6,
 'não par e/ou <= 3',
 8,
 'não par e/ou <= 3',
 10]

In [ ]:
# outros exemplos: múltiplos fors
list_of_lists = [[1,2,3],[4,5,6],[7,8]]

[element*-1 for lista in list_of_lists for element in lista]

[-1, -2, -3, -4, -5, -6, -7, -8]

In [ ]:
#outros exemplos: múltiplos fors e múltiplas listas
list1 = [1,2]
list2 = [4,5]
[[i,j] for i in list1 for j in list2]

[[1, 4], [1, 5], [2, 4], [2, 5]]

In [ ]:
# outros exemplos: múltiplos fors e 1 if
list_of_lists = [[1,2,3],[4,5,6],[7,8]]

[element*-1 for lista in list_of_lists for element in lista if element % 2 == 0]

[-2, -4, -6, -8]

In [ ]:
# outros exemplos: múltiplos fors e 1 if-else
list_of_lists = [[1,2,3],[4,5,6],[7,8]]

# usando for dentro de for em list comprehension
# se número for maior ou igual a 5 printa o número caso contrário põe |
[element if element >=5 else "|" for lista in list_of_lists for element in lista]

['|', '|', '|', '|', 5, 6, 7, 8]

In [ ]:
# outros exemplos: múltiplos list comprehensions e for
# list comprehensions com list comprehensions
matrix = [[1,2,3],[4,5,6],[7,8,9]]

[[row[i] for row in matrix] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# outros exemplos:
# list comprehensions com múltiplos ifs dentro de multiplos for
[rang2 for rang1 in range(1,5) if rang1 % 2 == 0 for rang2 in range(rang1) if rang2 % 2 == 1]

[1, 1, 3]

In [ ]:
# outros exemplos:
# list comprehensions com único if-else e único if dentro de multiplos for
[rang2 if rang1 % 2 == 0 else "rang1 é ímpar" for rang1 in range(1,5) for rang2 in range(rang1) if rang1 % 2 == 1 ]

['rang1 é ímpar', 'rang1 é ímpar', 'rang1 é ímpar', 'rang1 é ímpar']

# Parabéns! Vocês chegaram ao fim do módulo

O que vocês aprenderam:
- dicionários, tuplas
- funções simples, e funções com parâmetros funções *args e **kwargs
- funções lambda
- compreensão de lista/dicionário e expressão geradoras (parece tupla!)
- tratamento de exceção
- oportunidade de se arriscar na lógica de construção do zero do primeiro modelo de machine learning, O KNN (vocês irão aprender a otimiza-lo em machine learning I!)


parabéns mais uma vez por todo o esforço! essa é uma quantidade muito grande de conteúdo!